* {
    background-color: #191A19;
}

.Page {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    justify-content: left;
    margin: 3vw 10vw;
}

.PageBody {
    color: #93B1A6;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2vw;
}

.PageTitle {
    color: #5C8374;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 4vw;
}

.PageFooter {
    color: #93B1A6;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 5vw;
    position: absolute;
    bottom: 4vh;
}

.SiteList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1vw 2vw;
}

.Site {
    padding: 1vw
}

@media (max-width: 600px) {
    .PageBody {
        font-size: 2vw;
    }

    .PageTitle {
        font-size: 5vw;
    }

    .PageFooter {
        font-size: 6vw;
    }
}